.Board {
  max-height: 100vh;
  max-width: 100vw;
}

.white-triangle {
  stroke: black;
  fill: white;
}

.black-triangle {
  stroke: black;
  fill: black;
}

circle.white-chip {
  fill: white;
  stroke: #0aa;
  stroke-width: 10px;
}

circle.black-chip {
  fill: black;
  stroke: brown;
  stroke-width: 10px;
}

rect.white-home {
  fill: #0aa;
}

rect.black-home {
  fill: brown;
}

g.selected-chip-0:first-of-type polygon:nth-child(12),
g.selected-chip-2:first-of-type polygon:nth-child(10),
g.selected-chip-4:first-of-type polygon:nth-child(8),
g.selected-chip-6:first-of-type polygon:nth-child(6),
g.selected-chip-8:first-of-type polygon:nth-child(4),
g.selected-chip-10:first-of-type polygon:nth-child(2),

g.selected-chip-12:nth-of-type(2) polygon:nth-child(12),
g.selected-chip-14:nth-of-type(2) polygon:nth-child(10),
g.selected-chip-16:nth-of-type(2) polygon:nth-child(8),
g.selected-chip-18:nth-of-type(2) polygon:nth-child(6),
g.selected-chip-20:nth-of-type(2) polygon:nth-child(4),
g.selected-chip-22:nth-of-type(2) polygon:nth-child(2) {
  fill: #880;
}

g.selected-chip-1:first-of-type polygon:nth-child(11),
g.selected-chip-3:first-of-type polygon:nth-child(9),
g.selected-chip-5:first-of-type polygon:nth-child(7),
g.selected-chip-7:first-of-type polygon:nth-child(5),
g.selected-chip-9:first-of-type polygon:nth-child(3),
g.selected-chip-11:first-of-type polygon:nth-child(1),

g.selected-chip-13:nth-of-type(2) polygon:nth-child(11),
g.selected-chip-15:nth-of-type(2) polygon:nth-child(9),
g.selected-chip-17:nth-of-type(2) polygon:nth-child(7),
g.selected-chip-19:nth-of-type(2) polygon:nth-child(5),
g.selected-chip-21:nth-of-type(2) polygon:nth-child(3),
g.selected-chip-23:nth-of-type(2) polygon:nth-child(1) {
  fill: #ff0;
}
